[Unit]
Description=Kaztilisozdik-bot
After=multi-user.target
Wants=multi-user.target

[Service]
User=kptdh
Environment=
EnvironmentFile=/home/kptdh/KaztiliSozdikBot/.env
ExecStart=/home/kptdh/KaztiliSozdikBot/kaztili.py
WorkingDirectory=/home/kptdh/KaztiliSozdikBot
Restart=always
RestartSec=10
TimeoutStopSec=90
KillMode=process

[Install]
WantedBy=multi-user.target
