[Unit]
Description=Kaztilisozdik-bot
After=multi-user.target
Wants=multi-user.target

[Service]
User={{ UserName }}
Environment=
EnvironmentFile=/home/{{ UserName }}/kaztili-bot.env
ExecStart=/home/{{ UserName }}/KaztiliSozdikBot/kaztili.py
WorkingDirectory=/home/{{ UserName }}/KaztiliSozdikBot
Restart=always
RestartSec=10
TimeoutStopSec=90
KillMode=process

[Install]
WantedBy=multi-user.target
